doctype html
html
  head
    title Dashboard
  body
    h1 Welcome, #{user.name}
    p Your Role: #{user.role}
    
    //- Display link to create event only if user is an Organizer
    if user.role === 'Organizer'
      a(href="/events/create") Create New Event
      
    h2 All Events
    ul
      each event in events
        li #{event.title} - Organized by #{event.organizer.name}

    a(href="/api/auth/logout") Logout
